<div class="container">
    <div class="row">
        <div class="col-sm-8 col-xs-6">
            <h1>Programozás lányoknak</h1>

            <h2>A fiúknak jobban megy?</h2>

            <p>Abban hiszünk, hogy nagy szükség van rá, hogy inspiráljuk, bátorítsuk a lányokat, számukra is vonzóvá
                tegyük a programozást.</p>

            <h3>Hogyan?</h3>

            <p>
            <ul class="list-group">
                <li class="list-group-item"> szombatonként ingyenes foglalkozásokat szervezünk, ahol megmutatjuk a
                    programozás izgalmas világát;
                </li>
                <li class="list-group-item">ebben naprakész szakemberek és önkénteseink segítenek;</li>
                <li class="list-group-item">vendéglátóink menő fejlesztő cégek, jól felszerelt, inspiráló irodákkal;</li>
                <li class="list-group-item">nyaranta elérhető árú táborokat szervezünk.</li>
            </ul>
            </p>
            <p>
                Az egynapos szombati foglalkozásokon rövid ízelítőt adunk, az egyhetes táborokban pedig olyan
                videojátékokat rakunk össze, mint az Angry Birds vagy a Fruit Ninja. Előzetes tudás nélkül is mindenki
                képes ezekre! Garantált a sikerélmény és a szórakozás.
            </p>
            <h2>Tényleg zokni-szandált hordanak a programozók?</h2>
            <p>
                Csapatunkkal azon dolgozunk, hogy eloszlassuk a sztereotípiákat. Megmutatjuk a 10-18 év közötti
                lányoknak, hogy  az informatika és programozók ugyanolyan vagányak, mint bármi más. Ezzel további
                karrierlehetőségeket ismertetünk meg, bemutatunk sikeres női fejlesztőket is, akik mintaképekké
                válhatnak.
            </p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row">
                <button type="button " class="btn btn-default" aria-label="Left Align">
                    JÁTÉK
                </button>
            </div>

        </div>
    </div>
</div>